<div class="container-fluid head-primary bg-success pb-2 bg-opacity-25 border border-success rounded">

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid" id="navbarTogglerDemo01">
            <div class="col-md-3">
                <a class="navbar-brand" target="_blank" href="/index">
                    <img src="../img/index/Logo sin fondo letras blancas.png" alt="Tepuy" width="220" height="100"></a>
            </div>

            <form class="d-flex col-md-5" role="search"> <input class="form-control me-1 " type="search" placeholder="¿Qué estás buscando?" aria-label="Search" style="width: 450px">
                <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button>
            </form>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class=" nav-link active col-md-10" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>Cuenta</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
                                <li><a class="dropdown-item" href="/formulario">Crear cuenta</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active col-md-6" data-bs-toggle="offcanvas" href="#" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" class="bi bi-cart col-md-8" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/><i class="bi bi-cart" id="carritoContenedor">0</i></svg>Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active col-md-6" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" class="bi bi-wechat col-md-9" viewBox="0 0 16 16"> <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.324.324 0 0 0-.12.366l.218.81a.616.616 0 0 1 .029.117.166.166 0 0 1-.162.162.177.177 0 0 1-.092-.03l-1.057-.61a.519.519 0 0 0-.256-.074.509.509 0 0 0-.142.021 5.668 5.668 0 0 1-1.576.22ZM9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.615.615 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.627.627 0 0 0 .098.356Z"/> <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.499.499 0 0 0-.032.14.192.192 0 0 0 .193.193c.039 0 .077-.01.111-.029l1.268-.733a.622.622 0 0 1 .308-.088c.058 0 .116.009.171.025a6.83 6.83 0 0 0 1.625.26 4.45 4.45 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02.05 0 .1 0 .15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826Zm4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Zm3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Z" />
                        </svg>Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr class="border border-success border-1 opacity-50">

    <div class="dropdown">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="btn btn-outline-success dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown">Samsung</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modelo1</a></li>
                    <li><a class="dropdown-item" href="#">Modelo2</a></li>
                    <li><a class="dropdown-item" href="#">Modelo3</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown">Iphone</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modelo1</a></li>
                    <li><a class="dropdown-item" href="#">Modelo2</a></li>
                    <li><a class="dropdown-item" href="#">Modelo3</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown">Xiaomi</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modelo1</a></li>
                    <li><a class="dropdown-item" href="#">Modelo2</a></li>
                    <li><a class="dropdown-item" href="#">Modelo3</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown">Motorola</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modelo1</a></li>
                    <li><a class="dropdown-item" href="#">Modelo2</a></li>
                    <li><a class="dropdown-item" href="#">Modelo3</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown">Accesorios</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/auriculares" target="_blank">Auriculares</a></li>
                    <li><a class="dropdown-item" href="#">Vidrios templados</a></li>
                    <li><a class="dropdown-item" href="/cargadores" target="_blank">Cargadores</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown">Servicio Técnico</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Cambio de pantalla</a></li>
                    <li><a class="dropdown-item" href="#">Pin de carga</a></li>
                    <li><a class="dropdown-item" href="#">Bateria</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>