<div class="container">
    
    
    <div class="row m-5" id="contenedor">

        {{#each cargadores}}

            <div class="card" style="width: 18rem;">
                <img src="{{img}}" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">Precio:{{precio}}</p>
                    <p class="card-text">{{desc}}</p>

                    <button id="btnComprar" class="btn btn-success">Comprar</button>
                </div>
            </div>

        {{/each}}
    </div>

</div>

<script src="/js/cargadores.js"></script>