<div class="container">
    <div class="text-center m-5">
        <hr>
        <h1>
            Crear cuenta
        </h1>
        <hr>

        <h6>Compra mas rapido y lleva el control de tus pedidos ¡en un solo lugar!</h6>
    </div>

    <div class="row">
        <form method="post" action="/formulario">
            <div class="mb-3">
                <label for="nombre_apellido" class="form-label">Nombre y Apellido</label>
                <input type="text" name="nombre_apellido" class="form-control" id="nombre_apellido" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="number" name="telefono" class="form-control" id="telefono" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirmar contraseña</label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-success w-50 p-2">Enviar</button>
            </div>
        </form>
    </div>
</div>